In [2]:
import pandas as pd
df=pd.read_csv("diabetes_prediction_dataset.csv")
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

# Diabetes

In [4]:
df.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

In [5]:
df.smoking_history.value_counts()

smoking_history
No Info        35816
never          35095
former          9352
current         9286
not current     6447
ever            4004
Name: count, dtype: int64

In [6]:
df.smoking_history.replace({
    "No Info":0,
    "never":1,
    "former":2,
    "current":3,
    "not current":4,
    "ever":5
},inplace=True)

C:\Users\Mathavan\AppData\Local\Temp\ipykernel_16224\375924135.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.smoking_history.replace({
C:\Users\Mathavan\AppData\Local\Temp\ipykernel_16224\375924135.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.smoking_history.replace({

In [7]:
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,1,25.19,6.6,140,0
1,Female,54.0,0,0,0,27.32,6.6,80,0
2,Male,28.0,0,0,1,27.32,5.7,158,0
3,Female,36.0,0,0,3,23.45,5.0,155,0
4,Male,76.0,1,1,3,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,0,27.32,6.2,90,0
99996,Female,2.0,0,0,0,17.37,6.5,100,0
99997,Male,66.0,0,0,2,27.83,5.7,155,0
99998,Female,24.0,0,0,1,35.42,4.0,100,0
99999,Female,57.0,0,0,3,22.43,6.6,90,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  int64
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(5), object(1)
memory usage: 6.9+ MB

In [9]:
df.gender.replace({
    "Male":0,
    "Female":1,
    "Other":2
},inplace=True)

C:\Users\Mathavan\AppData\Local\Temp\ipykernel_16224\3751904140.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.gender.replace({
C:\Users\Mathavan\AppData\Local\Temp\ipykernel_16224\3751904140.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.gender.replace({

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  int64
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  int64
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(6)
memory usage: 6.9 MB

In [11]:
df = df[df["gender"] != 2]
df.gender.value_counts()

gender
1    58552
0    41430
Name: count, dtype: int64

In [12]:
df.info()
#To see the Datatype

<class 'pandas.core.frame.DataFrame'>
Index: 99982 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               99982 non-null  int64
 1   age                  99982 non-null  float64
 2   hypertension         99982 non-null  int64
 3   heart_disease        99982 non-null  int64
 4   smoking_history      99982 non-null  int64
 5   bmi                  99982 non-null  float64
 6   HbA1c_level          99982 non-null  float64
 7   blood_glucose_level  99982 non-null  int64
 8   diabetes             99982 non-null  int64
dtypes: float64(3), int64(6)
memory usage: 7.6 MB

In [13]:
df.describe()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
count,99982.000000,99982.000000,99982.000000,99982.000000,99982.000000,99982.000000,99982.000000,99982.000000,99982.000000
mean,0.585625,41.888076,0.074863,0.039427,1.274479,27.320757,5.527529,138.057810,0.085015
std,0.492616,22.517206,0.263172,0.194610,1.402889,6.636853,1.070665,40.709469,0.278906
min,0.000000,0.080000,0.000000,0.000000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,0.000000,24.000000,0.000000,0.000000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,1.000000,43.000000,0.000000,0.000000,1.000000,27.320000,5.800000,140.000000,0.000000
75%,1.000000,60.000000,0.000000,0.000000,2.000000,29.580000,6.200000,159.000000,0.000000
max,1.000000,80.000000,1.000000,1.000000,5.000000,95.690000,9.000000,300.000000,1.000000

In [14]:
df.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [15]:
x=df.drop(["diabetes"],axis="columns")
y=df['diabetes']

In [16]:
df.diabetes.value_counts()

diabetes
0    91482
1     8500
Name: count, dtype: int64

# Balancing Dataset

In [18]:
from imblearn.over_sampling import SMOTE as sm
smote=sm(sampling_strategy='minority')
x_sm,y_sm=smote.fit_resample(x,y)
y_sm.value_counts()

diabetes
0    91482
1    91482
Name: count, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_sm,y_sm,test_size=0.3,random_state=42)

# Recursive Feature Elimination (RFE)

In [21]:
from sklearn.ensemble import RandomForestClassifier 
from sklearn.feature_selection import RFE
from sklearn import metrics
model1 = RandomForestClassifier()
rfe = RFE(model1, n_features_to_select=5)
x_train_new = rfe.fit_transform(x_train, y_train)
x_test_new = rfe.transform(x_test)
model1.fit(x_train_new,y_train)
pre=model1.predict(x_test_new)
metrics.accuracy_score(y_test,pre)

0.9745855347057751

# Principal Component Analysis (PCA)

In [23]:
from sklearn.decomposition import PCA
from sklearn import metrics
model2 = RandomForestClassifier()
pca = PCA(n_components=8)
X_train_new = pca.fit_transform(x_train, y_train)
x_test_new = pca.transform(x_test)
model2.fit(X_train_new, y_train)
pre=model2.predict(x_test_new)
metrics.accuracy_score(y_test,pre)

0.9528875933685553

# Model Training

In [25]:
from sklearn.ensemble import RandomForestClassifier 
import numpy as np
from sklearn.model_selection import cross_val_score 
from sklearn import metrics
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [26]:
cross_val_score(RandomForestClassifier(),x_train,y_train,cv=10).mean()

0.9721957462997354

In [27]:
model = Pipeline([
    ('scaler', StandardScaler()),                # Scale the features
    ('classifier', RandomForestClassifier(random_state=42))  # Random Forest model
])
model.fit(x_train,y_train)
pre=model.predict(x_test)
metrics.accuracy_score(y_test,pre)

0.9719074512661687

In [28]:
import pickle
with open("model.pickle","wb") as f:
    pickle.dump(model,f)